@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.container {
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url("../img/297541.svg");
    /* background-color: orange; */
    background-repeat: no-repeat;
    background-size: 20% 40%;
    background-position: 95% 30%;
}

#gamebox {
    height: 80vmin;
    width: 80vmin;
    display: grid;
    background-color: #373838;
    border-radius: 5px;
    /* grid-template-rows: repeat(38, auto);
    grid-template-columns: repeat(38, auto); */
    /* outline: 25px solid blue; */
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.68);
}

.head {
    position: relative;
    background-color: #faec92;
}

.snake {
    position: relative;
    background-color: #FAE042;
    box-shadow: 0px 0px 40px #FAE042;
}

.snake:last-child {
    background-color: green;
}

.food {
    position: relative;
    background-image: url("../img/apple.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.3);
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}